{{#each this}}
  <div class='card-body'>
    <h2 class='card-title-country'>
      Страна: {{name}}
    </h2>
    <h3 class='card-title-city'>
      Столица: {{capital}}
    </h3>
    <h3 class='card-text'>
      Население: {{population}}
    </h3>
    <ul class='card-text'>
      <h4>
        Язык:
      </h4>
      {{#each languages}}
        <li>
          {{name}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class='card-img'>
    <img src="{{flag}}" alt="{{name}}" width='360' />
  </div>
{{/each}}